<div class="layout-page-content">
  <div>
    <h2 style="text-align:center"><span id="i18n_page_title">Add Series</span></h2>
  </div>

  <!-- missing fields notification -->

  <div id="missingFieldsContainer" class="layout-page-header ui-helper-hidden">
    <div class="layout-centered ui-state-error ui-corner-all scheduler-info-container">
      <h3 style="position: relative; padding-left: 20px;">
        <span class="ui-icon ui-icon-alert"></span> <b>Missing or invalid input</b>
      </h3>
      <ul>
        <li id="item-title" class="missing-fields-item">
          <span class="ui-icon ui-icon-carat-1-e"></span>
          <span>
            Please enter a <a href="javascript:document.getElementById('title').focus();">title</a> for the Series.
          </span>
        </li>
        <li id="item-title-existing" class="missing-fields-item">
          <span class="ui-icon ui-icon-carat-1-e"></span>
          <span>
            The <a href="javascript:document.getElementById('title').focus();">title</a> you have entered is already used by another Series. 
          </span>
        </li>     
      </ul>
    </div>
  </div>

  <div class="form-box layout-centered ui-widget">
    <div class="form-box-content ui-widget-content ui-corner-all">
      <ul class="oc-ui-form-list">
        <li>
          <label for="title" class="scheduler-label"><span style="color: red;">* </span><span id="i18n_title">Series Title</span>:</label>
          <input type="text" class="oc-ui-form-field dc-metadata-field" id="title" />
        </li>
        <li>
          <label for="creator" class="scheduler-label"><span id="i18n_creator">Organizer</span>:</label>
          <input type="text" class="oc-ui-form-field dc-metadata-field" id="creator" />
        </li>
        <li>
          <label for="contributor" class="scheduler-label"><span id="i18n_contributor">Contributor</span>:</label>
          <input type="text" class="oc-ui-form-field dc-metadata-field" id="contributor" />
        </li>
      </ul>
    </div>
  </div>
  <div class="form-box layout-centered ui-widget oc-ui-collapsible-widget">
    <div class="form-box-head ui-widget-header ui-corner-top oc-ui-cursor">
      <div class="ui-icon ui-icon-triangle-1-e fold-icon"></div>
      <div id="i18n_content_descriptors" class="fold-icon-text">Additional Content Descriptors</div>
    </div>
    <div class="ui-widget-content ui-corner-bottom">
      <div id="additionalContentTabs" style="border: none;">
        <ul>
          <li><a href="#commonTab" id="i18n_common_tab">Common Descriptors</a></li>
        </ul>
        <div id="commonTab">
          <ul class="oc-ui-form-list">
            <li>
              <label for="subject" class="scheduler-label"><span id="i18n_subject">Subject</span>:</label>
              <input type="text" class="oc-ui-form-field dc-metadata-field" id="subject" />
            </li>
            <li>
              <label for="language" class="scheduler-label"><span id="i18n_langauge">Language</span>:</label>
              <input type="text" class="oc-ui-form-field dc-metadata-field" id="language" />
            </li>
            <li>
              <label for="license" class="scheduler-label"><span id="i18n_license">License</span>:</label>
              <input type="text" class="oc-ui-form-field dc-metadata-field" id="license" />
            </li>
            <li>
              <label for="description" class="scheduler-label"><span id="i18n_description">Description</span>:</label>
              <textarea class="oc-ui-form-field dc-metadata-field" id="description"></textarea>
            </li>
          </ul>
        </div>
        <!--<div id="additionalTab">Some Stuff</div>-->
      </div>
    </div>
  </div>
  <!-- PRIVILEGES -->
  <div class="form-box layout-centered ui-widget oc-ui-collapsible-widget">
    <div class="form-box-head ui-widget-header ui-corner-top oc-ui-cursor">
      <div class="ui-icon ui-icon-triangle-1-e fold-icon"></div>
      <div id="i18n_content_descriptors" class="fold-icon-text">Privileges</div>
    </div>
    <div id="rolesTableContainer" class="ui-widget-content ui-corner-bottom">
      <p id="hint">
        Specify roles for which users can access Recordings in this Series,
        and indicate what level of access they should have.<br />
        Hint: Role names are formatted according to rules specific to your institution.
      </p>
      <table id="rolePrivilegeTable" border="1">
        <thead>
          <tr>
            <th>Role</th>
            <th>View</th>
            <th>Administer</th>
            <th>Analyze</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Public (no authorization required)</td>
            <td class="privilege_edit"><input type="checkbox" id="anonymous_view" /></td>
            <td class="privilege_edit"><input type="checkbox" disabled="disabled" /></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- SETTINGS -->
  <div class="form-box layout-centered ui-widget oc-ui-collapsible-widget">
    <div class="form-box-head ui-widget-header ui-corner-top oc-ui-cursor">
      <div class="ui-icon ui-icon-triangle-1-e fold-icon"></div>
      <div id="i18n_content_descriptors" class="fold-icon-text">Settings</div>
    </div>
    <div class="ui-widget-content ui-corner-bottom">
      <div id="commonTab">
        <ul class="oc-ui-form-list">
          <li>
            <label class="scheduler-label"></label>
            <input type="checkbox" class="oc-ui-form-field oc-metadata-field" id="annotation" />
            <label for="annotation" style="text-align: left; width: 300px;">
              Allow Annotations
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="form-box layout-centered ui-widget">
    <div class="form-box-content ui-widget-content ui-corner-all">
      <form action="">
        <ul class="oc-ui-form-list">
          <li>
            <label class="scheduler-label">&#160;</label>
            <input type="button" value="Save" id="submitButton" class="mouseover-pointer control-button" />
            <a id="cancelButton" title="Cancel" class="secondaryButton">Cancel</a>
            <input type="hidden" id="id" />
          </li>
          <li>
            <label class="scheduler-label">&#160;</label>
            <span class="scheduler-required-text">*</span><span id="i18n_required">Required</span>
          </li>
        </ul>
      </form>
    </div>
  </div>
</div>