/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
	 HTML5 display definitions
	 ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
	 Base
	 ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #57C9FA; color: #fff; text-shadow: none; }
::selection { background: #57C9FA; color: #fff; text-shadow: none; }


/* =============================================================================
	 Links
	 ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
	 Typography
	 ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
	 Lists
	 ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
	 Embedded content
	 ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
	 Figures
	 ========================================================================== */

figure { margin: 0; }


/* =============================================================================
	 Forms
	 ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; margin-bottom:12px; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

input#signUpButton { padding: 0.65em; font-size: 120%;}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {	}
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
	 Tables
	 ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
	 Chrome Frame Prompt
	 ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
	 Author:
	 ========================================================================== */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background: #F2F2F2;
	color: #444;
	font-size: 13px;
}
a, a:visited, a:active {
	color: #2683BC;
	text-decoration: none;
}
a:hover, a:focus {
	color: #2683BC;
	text-decoration: underline;
}


/* Main container */
.cct-container-main {
	background: #fff;
	margin: 34px auto 0;
	overflow: hidden;
	width: 960px;
	padding:20px;

}

h2.coursetitle {
	color:#009933;
	margin-bottom:.1em;
}
.disabled {
	color: #999;
}
.unavailable {
	border:1px solid #06C;
	padding:2px;
	margin-left:14px;
	background:#eee;
	color:#444;
	font-size:.8em;
	display:none;
}
label.disabled .unavailable {
	display: inline;
}

input span.success {display: none;}
input[type="button"]:disabled {color: #BBB;}

span.hidden { display: none;}

span.disabled { font-color: #888;}

div.radioLabel { display: block; }
div.radioOptions { width:600px; float: left; padding-left:8em; }
p.radioItem { text-indent: -1em;}
      
div#ets_logo { float: right;}

div.radiobox {
	display:inline-block; 
	border: 1px solid #666;
	border-right: 0px;
	width: 120px; 
	height:80px; 
	text-align:center;
	vertical-align: middle;
	background: #fff; 
	margin: 5px 2px; 
	padding: 5px 2px;
	font-family: arial;
	font-size: 9pt;
	margin:0px;
	padding:20px 10px;
	background-color: #fff;
	background-image: -webkit-linear-gradient(top, #fff, #aaf);
	background-image:    -moz-linear-gradient(top, #fff, #aaf);
	background-image:     -ms-linear-gradient(top, #fff, #aaf);
	background-image:      -o-linear-gradient(top, #fff, #aaf);
	background-image:         linear-gradient(to bottom, #fff, #aaf);
	
	}
	
div.radiobox.last {border-right: 1px solid #666;}

div.radiobox.selected {
	background-color: #aaf;
	background-image: -webkit-linear-gradient(top, #88a, #aaf);
	background-image:    -moz-linear-gradient(top, #88f, #ccf);
	background-image:     -ms-linear-gradient(top, #88f, #ccf);
	background-image:      -o-linear-gradient(top, #88f, #ccf);
	background-image:         linear-gradient(to bottom, #88f, #ccf);
	
}
div.radiobox.disabled {
	background: #fff; border-color: #666; color: #888;
}

div.major-section {
	background-color: #E9E9F2;
display:block;
padding: 5px;
margin-top: 20px;
color: #444;
border: 4px;
height: auto;
}

.alignright {
  float: right;
}

input.save {
background-color: #aaf;
	background-image: -webkit-linear-gradient(top, #88a, #aaf);
	background-image:    -moz-linear-gradient(top, #88f, #ccf);
	background-image:     -ms-linear-gradient(top, #88f, #ccf);
	background-image:      -o-linear-gradient(top, #88f, #ccf);
	background-image:         linear-gradient(to bottom, #88f, #ccf);	
}

div.radioLabel { float: left; width: 160px; }


/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #d3d3d3/*{borderColorDefault}*/; background: #e6e6e6/*{bgColorDefault}*/ url(images/ui-bg_glass_75_e6e6e6_1x400.png)/*{bgImgUrlDefault}*/ 50%/*{bgDefaultXPos}*/ 50%/*{bgDefaultYPos}*/ repeat-x/*{bgDefaultRepeat}*/; font-weight: normal/*{fwDefault}*/; color: #555555/*{fcDefault}*/; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555555/*{fcDefault}*/; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #999999/*{borderColorHover}*/; background: #dadada/*{bgColorHover}*/ url(images/ui-bg_glass_75_dadada_1x400.png)/*{bgImgUrlHover}*/ 50%/*{bgHoverXPos}*/ 50%/*{bgHoverYPos}*/ repeat-x/*{bgHoverRepeat}*/; font-weight: normal/*{fwDefault}*/; color: #212121/*{fcHover}*/; }
.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited { color: #212121/*{fcHover}*/; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #aaaaaa/*{borderColorActive}*/; background: #ffffff/*{bgColorActive}*/ url(images/ui-bg_glass_65_ffffff_1x400.png)/*{bgImgUrlActive}*/ 50%/*{bgActiveXPos}*/ 50%/*{bgActiveYPos}*/ repeat-x/*{bgActiveRepeat}*/; font-weight: normal/*{fwDefault}*/; color: #212121/*{fcActive}*/; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121/*{fcActive}*/; text-decoration: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #fcefa1/*{borderColorHighlight}*/; background: #fbf9ee/*{bgColorHighlight}*/ url(images/ui-bg_glass_55_fbf9ee_1x400.png)/*{bgImgUrlHighlight}*/ 50%/*{bgHighlightXPos}*/ 50%/*{bgHighlightYPos}*/ repeat-x/*{bgHighlightRepeat}*/; color: #363636/*{fcHighlight}*/; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636/*{fcHighlight}*/; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a/*{borderColorError}*/; background: #fef1ec/*{bgColorError}*/ url(images/ui-bg_glass_95_fef1ec_1x400.png)/*{bgImgUrlError}*/ 50%/*{bgErrorXPos}*/ 50%/*{bgErrorYPos}*/ repeat-x/*{bgErrorRepeat}*/; color: #cd0a0a/*{fcError}*/; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #cd0a0a/*{fcError}*/; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #cd0a0a/*{fcError}*/; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
.ui-state-disabled .ui-icon { filter:Alpha(Opacity=35); } /* For IE8 - See #6059 */



   #selectable .ui-selectee { background: #FECA40; 
   background-image: -webkit-linear-gradient(top, #fff, #aaf);
	background-image:    -moz-linear-gradient(top, #fff, #aaf);
	background-image:     -ms-linear-gradient(top, #fff, #aaf);
	background-image:      -o-linear-gradient(top, #fff, #aaf);
	background-image:         linear-gradient(to bottom, #fff, #aaf);
	}
   #selectable .ui-selectable { background: #ddd; border-color: #888; color: #888; }
   
   #selectable .ui-selected { background: #7D94AE; 
   background-image: -webkit-linear-gradient(top, #88a, #aaf);
	background-image:    -moz-linear-gradient(top, #88f, #ccf);
	background-image:     -ms-linear-gradient(top, #88f, #ccf);
	background-image:      -o-linear-gradient(top, #88f, #ccf);
	background-image:         linear-gradient(to bottom, #88f, #ccf);
	color: black; border-style:solid; border-color:#0000ff; border-width:1px;}
   
   #selectable { list-style-type: none; margin: 0; padding: 0; width: 600px;}
   #selectable li { margin: 3px; padding: -3px; float: left; width: 120px; height: 80px; font-size: 13px; text-align: center; }
.cursor-pointer { cursor: pointer; }
.cursor-default { cursor: default; }

   #playdemolinks .ui-selecting { background: #FECA40; }
   #playdemolinks .ui-selected {color: white; }
   #playdemolinks { list-style-type: none; margin: 0; padding: 0; width: 600px; }
   #playdemolinks li { margin: 3px; padding: 1px; float: left; width: 120px; font-size: 12px; text-align: center; }
   
   span.alignRight { float:right; }
   p.helptext { font-size: small; margin: 15px;}
   
   div.optionsAsText { margin: 10px 10px 5px; }
   
   span.instructionaltext { font-style:oblique;}
   
   span.postSelection {  width: 120px; font-weight:bold;
     margin-left: 10px; padding-right: 5px; display: inline-block;}
   
   span.postSelectionValue {  width: auto; display: inline-block;}
   
   span.warning { font-weight:bold; color:red; padding: 1em;}
   span.warning a { text-decoration: underline; color: red; font-weight: bold;}
   
   span.changedMarker { padding-left: 2em; color: green; }
   
   div#etsAboutText { padding-left: 2em;}
   
input.radioItem {margin-right: 1em; float: left;}
div.radioLabel {float: left; width: 90%;}
   input.confirmChange { margin-left: -1em; }
   p.successMsg { 
     font-size: 1.5em; 
     line-height: normal;
color: #009932;
margin-top: 0;
margin-bottom: 0;
}

p#approvalMsg {font-size: 1.2em;
 	color: #009932;
	margin-top: 0;}
	
p#instructorList { margin-top: 0em; }
span.postSelection {width: 11em;
text-align: right;
padding-right: 1em;}

span#inputSelectionSubmit {
	display: block;
	float: left;
	padding-left: 7em;
	padding-top: 2em }

p.sorryMsg { font-size: 1.3em; }
div.projectCanceled { color: green;}
a.change.disabled { color: grey; }
